@font-face {
  font-family: 'custom-icons';
  src: url('../fonts/custom-icons.eot?yri8f');
  src: url('../fonts/custom-icons.eot?yri8f#iefix') format('embedded-opentype'), url('../fonts/custom-icons.ttf?yri8f') format('truetype'), url('../fonts/custom-icons.woff?yri8f') format('woff'), url('../fonts/custom-icons.svg?yri8f#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.custom-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-electron:before {
  content: "\e900";
}
.icon-nvidia:before {
  content: "\e901";
}
.icon-amd:before {
  content: "\e902";
}

/* Helpers */
.hidden {
  display: none !important;
}
.section {
  margin-bottom: 5em;
}
.is-garlic {
  background: #FFCA42 !important;
}
.garlic-subtitle {
  color: white;
  font-weight: 600;
}
.container img {
  max-width: 75%;
  margin-top: 1em;
  margin-bottom: 1em;
}
li {
  padding-left: 1em;
}
/* Getting Started Page */
.start-box {
  padding: 1em;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 100%;
}
.start-box .subtitle {
  color: #4a4a4a !important;
}
.start-box .icon {
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}
.start-box:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.btn-icon {
  vertical-align: -0.15em;
}
.btn-icon:hover {
  cursor: pointer;
}
/* Footer */
.footer {
  padding-bottom: 5em;
}
.donate-list {
  margin-left: 1em !important;
}
.donate-list li {
  list-style-type: none;
}
/* Tutorial Pages */
h1:not(.title):not(.subtitle) {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.25rem;
}
h2:not(.title):not(.subtitle) {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.25rem;
}
h3:not(.title):not(.subtitle) {
  color: #696969;
  font-size: 1.15rem;
  font-weight: 600;
  margin-top: 1.25rem;
}
h4:not(.title):not(.subtitle) {
  color: #696969;
  font-size: 1.1rem;
}
/* Media Queries */
@media (min-width: 768px) {
  .smaller-hero-body {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
}
@media (min-width: 992px) {
  .smaller-hero-body {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
}
@media (min-width: 1400px) {
  .smaller-hero-body {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
  }
}
