<footer class="footer">
	<div class="container">
		<div class="content">
			<p id="footer-copyright">
				All articles © the original author and contributors, and licensed under a
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 license</a>.
			</p>
			<p id="footer-github">
				You can help contribute to this site on <a href="https://github.com/Pandawan/GarlicRecipes">GitHub</a>.
			</p>
			<p id="footer-credits">
				<strong>
					<%= site_title %>
				</strong> by
				<a href="http://github.com/Pandawan">Pandawan</a>.
			</p>
			<p id="footer-donate">
				<i class="fas fa-heart"></i>
				Please donate to support this project.
				<ul class="donate-list">
					<li>BTC: 13xqEPwdfkYFVdQvF596k91mWeUHRJTRjk</li>
					<li>BCH: 1PidoMufaqTyFMgdn37Gf4fCHf1GAKZT8w</li>
					<li>LTC: LKFQvj3c7f3unAmqLdUqfVKrd12y3nUUfH</li>
					<li>GRLC: GeVxW6scnydU7RhJZfCTr7eHXmxRFZccrB</li>
				</ul>
			</p>
		</div>
	</div>
</footer>