<footer class="footer">
	<div class="container">
		<div class="content has-text-centered">
			<p>
				<strong><%= site_title %></strong> by
				<a href="http://pandawan.xyz/credits.html">Pandawan</a>.
			</p>
			<p>
			Support this project by donating
			<ul class="donate-list">
				<li>BTC: 13xqEPwdfkYFVdQvF596k91mWeUHRJTRjk</li>
				<li>LTC: LhrWcYnXxnA3TcznRRvkfuZ8TVYNJ2nisU</li>
				<li>BCH: 1PidoMufaqTyFMgdn37Gf4fCHf1GAKZT8w</li>
			</ul>
			</p>
		</div>
	</div>
</footer>