<footer class="footer">
	<div class="container">
		<div class="content">
			<p id="footer-copyright">
				All articles © the original author and contributors, and licensed under a
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 license</a>.
			</p>
			<p id="footer-credits">
				<strong>
					<%= site_title %>
				</strong> by
				<a href="http://pandawan.xyz/credits.html">Pandawan</a>.
			</p>
		</div>
	</div>
</footer>