<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="ROOT/images/favicon.ico">

	<title>
		<%= title %>
	</title>
	<meta name="description" content="Tutorials and Resources for Garlicoin">
	<meta name="author" content="Pandawan">
	<meta name="theme-color" content="#ffca42">

	<!-- Libraries/External -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous">
	<!-- Custom -->
	<link rel="stylesheet" href="ROOT/css/style.min.css">

	<!--[if lt IE 9]>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
		<![endif]-->
</head>