<nav class="navbar is-fixed-top">
	<div class="navbar-brand">
		<a class="navbar-item" href="./">
			<img src="https://bulma.io/images/bulma-logo.png" alt="<%- site_title %>: Helper Website for Garlicoin" width="112" height="28">
		</a>
		<div class="navbar-burger burger" data-target="navbarMenu">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<div id="navbarMenu" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="./">
				Get Started
			</a>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					Wallet
				</a>
				<div class="navbar-dropdown is-boxed">
					<a class="navbar-item" href="./wallet-windows">
						Windows
					</a>
					<a class="navbar-item" href="./wallet-mac">
						Mac
					</a>
					<a class="navbar-item" href="./wallet-linux">
						Linux
					</a>
				</div>
			</div>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					Mining
				</a>
				<div class="navbar-dropdown is-boxed">
					<a class="navbar-item" href="./mining-cpu">
						CPU (All)
					</a>
					<a class="navbar-item" href="./mining-nvidia">
						Windows Nvidia
					</a>
					<a class="navbar-item" href="./mining-amd">
						Windows AMD
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>