<!doctype html>
<html lang="LANGUAGE_REPLACE" class="has-navbar-fixed-top">

<% page_title = "Blank" %>
<% title = site_title + " - " + page_title; %>
<%- include partials/head %>

<body>
	<%- include partials/navbar %>
	<section class="section">
		<div class="container">
			<h1 class="title">
				<%= page_title %>
			</h1>

			<!-- A blank HTML page to start making new pages -->
		</div>
	</section>
	<%- include partials/footer %>
  <script src="ROOT/js/script.min.js"></script>
</body>

</html>